.slide {
    display: flex;
    transition: transform 0.5s ease;
    &.active {
      transform: translateX(0);
    }
    &:not(.active) {
      transform: translateX(100%);
    }
}

.imageSlider {
    width: 600px;
    // height: 600px;
    max-width: 99%;
    max-height: 99%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;
}

.imageSlider-arrow {
    position: absolute;
    // top: 300px;
    top: 50%;
    background-color: rgba(141, 141, 141, 0.5);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    z-index: 10;
    &.left {
      margin-left: 25px;
    }
    &.right {
      // left: 550px;
      left: 90%;
      margin-right: 25px;
    }
}